@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaRegular.woff") format("woff"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ProximaNovaBold";
    src: url("../fonts/ProximaNovaBold.eot");
    src: url("../fonts/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBold.woff") format("woff"),
    url("../fonts/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ProximaNovaLight";
    src: url("../fonts/ProximaNova-Light.eot");
    src: url("../fonts/ProximaNova-Light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNova-Light.woff") format("woff"),
    url("../fonts/ProximaNova-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "eurolence";
    src: url("../fonts/8458.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}