*{padding: 0; margin: 0; outline: none}
ul{list-style-type: none}
a{text-decoration: none; -webkit-transition: .35s;
-moz-transition: .35s;
-ms-transition: .35s;
-o-transition: .35s;
transition: .35s;}
button{
	-webkit-transition: .35s;
	-moz-transition: .35s;
	-ms-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
}

html, body{
	font-family: 'ProximaNovaRegular', sans-serif;
	font-size: 14px;
	color: #717171;
	line-height: 1.7;
}

a{
	color: #717171;
}

p{
	margin-bottom: 25px;
}

h1{
	font-size: 30px;
	font-weight: 100;
	line-height: 1;
	margin-bottom: 36px;
	color: #404040;
	text-transform: uppercase;
}

h2{
	font-size: 26px;
	font-weight: 100;
	line-height: 1;
	margin-bottom: 30px;
	color: #404040;
	text-transform: uppercase;
}

h3{
	color: #717171;
	font-weight: 100;
	line-height: 1;
	font-size: 20px;
	margin-bottom: 27px;
	text-transform: uppercase;
}

h4{
	color: #353535;
	font-weight: 100;
	line-height: 1;
	font-size: 14px;
	margin-bottom: 21px;
	text-transform: uppercase;
	font-family: "ProximaNovaLight";
}

h5{
	color: #353535;
	font-weight: 100;
	line-height: 1;
	font-size: 12px;
	margin-bottom: 18px;
	text-transform: uppercase;
}

h6{
	color: #353535;
	font-weight: 100;
	line-height: 1;
	font-size: 11px;
	margin-bottom: 17px;
	text-transform: uppercase;
}

input{
	font-size: 12px;
	&::-webkit-input-placeholder {color:#353535; font-size: 12px; font-family: "ProximaNovaLight";}
	&::-moz-placeholder          {color:#353535; font-size: 12px; font-family: "ProximaNovaLight";}/* Firefox 19+ */
	&:-moz-placeholder           {color:#353535; font-size: 12px; font-family: "ProximaNovaLight";}/* Firefox 18- */
	&:-ms-input-placeholder      {color:#353535;  font-size: 12px;font-family: "ProximaNovaLight";}
}

#page-preloader {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
	height: 101%;
  //bottom: 0;
  z-index: 100500;
	.preloader__box{
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: #f0f0f0;
	}
	.spinner {
		display: block;
		width: 60px;
		height: 60px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -16px 0 0 -16px;
		img{
			width: 100%;
		}
	}
}

.input{
	display: block;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #e8e8e8;
	background-color: #FFF;
	font-family: "ProximaNovaLight";
	font-size: 14px;
	color: #353535;
	padding: 15px;

	&:focus{
		border: 1px solid #a0a0a0;
		
	}
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  font-family: "ProximaNovaLight";
	  font-size: 14px;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  font-family: "ProximaNovaLight";
	  font-size: 14px;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  font-family: "ProximaNovaLight";
	  font-size: 14px;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  font-family: "ProximaNovaLight";
	  font-size: 14px;
	}

	&.error{
		border: 1px solid red;
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: red;
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: red;
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: red;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: red;
		}
	}
}

.textarea{
	width: 100%;
	display: block;
	border: 1px solid #e8e8e8;
	padding: 12px 10px;
	height: 120px;
	resize: none;
	box-sizing: border-box;
	&:focus{
		border: 1px solid #a0a0a0;
		
	}
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  font-family: "ProximaNovaLight";
	  font-size: 14px;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  font-family: "ProximaNovaLight";
	  font-size: 14px;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  font-family: "ProximaNovaLight";
	  font-size: 14px;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  font-family: "ProximaNovaLight";
	  font-size: 14px;
	}

	&.error{
		border: 1px solid red;
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: red;
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: red;
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: red;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: red;
		}
	}
}

.error{
	color: red;
	line-height: 1.1;
}

.container{
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
	&:after{
		content: "";
		clear: both;
		display: block;
	}

	&--nopd{
		padding: 0;
	}
}

.btn{
	display: block;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 0;
	line-height: 1;
	padding: 14px 0;	
	cursor: pointer;
	width: 100%;
	max-width: 290px;
	font-family: "ProximaNovaLight";

	&--pink{
		color: #fff;
		background-color: $pink;
		border: 1px solid $pink;
		&:hover{
			background-color: transparent;
			border: 1px solid $pink;
			color: $pink;
		}
	}

	&--in-pink{
		background-color: transparent;
		border: 1px solid $pink;
		color: $pink;
		&:hover{
			color: #fff;
			background-color: $pink;
			border: 1px solid $pink;
		}
	}
}

.typical{
	img{
		display: block;
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
		max-width: 100%;
	}

	li{
		padding-left: 15px;
		list-style-type: none;
		position: relative;
		padding-bottom: 7px;
	}

	ol{
		counter-reset: list 0;
		margin-bottom: 30px;
		li{
			&:before{
				position: absolute;
				left: 0;
				color: $pink;
				counter-increment: list; 
    		content: counter(list) ".";
			}
		}
	}

	ul{
		margin-bottom: 30px;
		li{
			&:before{
				position: absolute;
				left: 0;
				color: $pink;
    		content: "•";
			}
		}
	} 

	table{
		margin-bottom: 40px;
		margin-top: 30px;
		color: #353535;
		line-height: 1.3;
		border-spacing: 0;
		thead td{
			border-bottom: 2px solid $pink;		
		}

		td{
			padding: 16px 30px;
			text-align: center;
			border-bottom: 1px solid #e3e3e3;
		}
	}

	&__quote{
		padding: 40px 45px 30px;
		background-color: #f9f9f9;
		border: 1px solid #a0a0a0;
		margin-bottom: 35px;
		position: relative;
		letter-spacing: 0.4px;
		&:before{
			content: '"';
			color: $pink;
			position: absolute;
			top: 45px;
			left: 30px;
			font-size: 30px;
			line-height: 0;
		}
		&:after{
			content: '"';
			color: $pink;
			position: absolute;
			bottom: 25px;
			right: 35px;
			font-size: 30px;
			line-height: 0;
		}
	}
}

.overlay{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	opacity: 0.35;
	background-color: #000;
	display: none;
	z-index: 1002;

}

.overlay-popup{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	opacity: 0.35;
	background-color: #000;
	display: none;
	z-index: 1015;
}

.wrapper{
	margin-top: 85px;

	&--relative{
		position: relative;
	}
}

.slick{
	&-arrow{
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		z-index: 2;
		background-position: center;
		background-repeat: no-repeat;
		background-color: transparent;
		border: none;
		font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
		&:before{
			display: none;
		}
		&:hover{
			background-position: center;
			background-repeat: no-repeat;
		}
		
	}

	&-prev{
		left: 0;
		background-image: url("../img/arrow-left.png");
		&:hover{
			background-image: url("../img/arrow-left.png");
		}
	}
	&-next{
		right: 0;
		background-image: url("../img/arrow-right.png");
		&:hover{
			background-image: url("../img/arrow-right.png");
		}
	}
}

.breadcrumbs{
	padding-top: 20px;
	color: #959595;
	font-family: "ProximaNovaLight";
	
	padding-bottom: 30px;

	&__arr{
		position:relative;
		padding-right: 5px;
		top: 2px;
	}

	&__list{
		font-size: 0;
		margin-left: -10px;
	}

	&__item{
		display: inline-block;
		position: relative;
		font-size: 14px;
		padding-left: 10px;
		&:after{
			height: 6px;
			border-left: 1px solid #959595;
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}

		&:last-child{
			&:after{
				display: none;
			}
		}
	}

	&__link{
		padding-right: 10px;
		

		
	}
}

.pagination{
	font-size: 12px;
	color: #a0a0a0;
	display: inline-block;

	&__item{
		display: inline-block;
		width: 30px;
		height: 30px;
		box-sizing: border-box;
		text-align: center;
		padding-top: 5px;
		margin: 0 3px;
		&:hover{
			background-color: #e9e9eb;
		}

		&--active{
			background-color: #e9e9eb;
		}
	}

	&__list{
		display: inline-block;
	}

	&__item{
		display: inline-block;
		a{
			color: #a0a0a0;
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	&__end{
		img{
			transform: rotate(180deg);
		}
	}

	&__next{
		img{
			transform: rotate(180deg);
		}
	}
}

.list-footer{
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;

	&__view{
		color: #a0a0a0;
		letter-spacing: 2px;
	}
}
//тэги для сео
.tags{
	&__item{
		display: inline-block;
		padding: 3px 5px;
		line-height: 1;
		background-color: #f1f1f1;
		color: #717171;
		font-size: 11px;
		&:hover{
			color: $pink;
		}	
	}
}

.color{

	&:after{
		content: attr(data-color);
		position: absolute;
		margin-left: 15px;
		margin-top: -45px;
		background-color: #FFF;
		border: $bd1;
		box-sizing: border-box;
		padding: 4px 15px;
		z-index: 3;
		opacity: 0;
		transition: 0.2s;
		visibility: hidden;
	}


	@media screen and (min-width: 1170px){
		&:hover:after{
			opacity: 1;
			visibility: visible;
		}
	}
	

	&__styled{
		width: 20px;
		height: 20px;
		display: block;
		cursor: pointer;
		position: relative;
		&:before{
			content: '';
			left: -5px;
			top: -5px;
			width: 30px;
			height: 30px;
			border: 1px solid $pink;
			position: absolute;
			display: none;
			box-sizing: border-box;
		}
	}

	&__input{
		position: absolute;
		left: -9999px;
		&:checked + .color__styled:before{
			display: block;
		}
	}
}

.tabs-nav{
	border-bottom: 1px solid $pink;
	font-size: 0;
	li{
		display: inline-block;

	}

	&__item{
		font-family: "ProximaNovaLight";
		font-size: 14px;
		line-height: 1;
		padding: 14px 0;
		width: 155px;
		display: block;
		text-align: center;
		color: #353535;
		border: 1px solid transparent;
		border-bottom: none;
		transition: 0s;
		&--active{
			border-color: $pink;
			
			position: relative;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				bottom: -1px;
				width: 100%;
				height: 1px;
				background-color: #FFF;
			}
		}
	}
}

.modal{
	max-width: 370px;
	width: 100%;
	background-color: #FFF;
	box-sizing: border-box;
	padding: 35px 40px;
	position: fixed;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
	z-index: 1020;

	&__close{
		position: absolute;
		right: 10px;
		top: 10px;
		padding: 5px;
		line-height: 0;
	} 

	&__input{
		margin-bottom: 20px;
		position: relative;
		img{
			width: 100%;
		}
	}
}

.thanks{
	display: none;
	&__text{
		line-height: 1.3;
		margin-bottom: 25px;
	}
}

.callback{
	display: none;
}

.modal-login{
	display: none;
	&__nav{
		text-align: center;
	}

	&__item{
		display: inline-block;
		padding: 0 12px;
	}

	&__link{
		color: #c0c0c0;
		@media screen and (min-width: 1170px){
			&:hover{
				color: #404040;
			}
		}

		&--active{
			color: #404040;
		}
	}
}

.error-message{
	color: #ff0000;
}
/* ============================================================== */
/* ==============================RESPONSIVE============= */
/* ==================================960========================== */

@media screen and (max-width: 1170px){
	.container{
		max-width: 960px;
		padding: 0 10px;
		&--nopd{
			padding: 0;
		}
	}

	.typical{
		table{
			td{
				padding: 16px 20px; 
			}
		}
	}
}

/* ==================================744========================== */
@media screen and (max-width: 959px){
	.container{
		max-width: 744px;
		&--nopd{
			padding: 0;
		}
	}

	.typical{
		table{
			td{
				padding: 15px 15px; 
			}
		}
	}
}

/* ==================================320========================== */
@media screen and (max-width: 743px){
	.wrapper{
		margin-top: 60px;
	}

	.container{
		max-width: 460px;
	}

	.typical{
		img{
			margin-right: 0;
		}

		table{
			td{
				box-sizing: border-box;
				min-width: 100px;
			}
		}

		&__table{
			overflow-x: auto;
  		white-space: nowrap;
		}

		&__quote{
			padding: 30px 40px;

			&:before{
				left: 20px;
				top: 35px;
			}

			&:after{
				right: 20px;
				bottom: 25px;
			}
		}
	}

	.modal{
		top: 15%;
		padding: 35px 20px;
	}

	h1{
		font-size: 22px;
		margin-bottom: 27px;
	}

	h2{
		font-size: 20px;
		margin-bottom: 27px;
	}

	h3{
		font-size: 18px;
		margin-bottom: 24px;
	}

	p{
		margin-bottom: 20px;
	}

	.breadcrumbs{
		padding: 10px 0 10px;
		&__item{
			&:not(:first-child) {
				display: none;
			}

			&:first-child:after{
				display: none;
			}
		}
	}

	.list-footer{
		display: block;

		&__view{
			text-align: center;
		}

		
	}

	.pagination{
		display: block;
		margin-bottom: 20px;
		text-align: center;
		&__end{
			display: none;
		}

		&__start{
			display: none;
		}
	}

/* =============custom scrollbar========= */
	.mCSB_horizontal.mCSB_inside>.mCSB_container{
		margin-bottom: 0;
	}

	.mCSB_scrollTools .mCSB_draggerContainer{
		display: none;
	}


}
